.side_bar
  .top-bar
    .logo
    .search
    .profile
      .my-icon
      .name
      = link_to "#" do
        = icon('fas', 'cog', class: 'icon')

  .left-bar
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
            %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}
    .ranking
      .icon
        = "coming soon"