* {
  box-sizing: border-box;
}

.wrapper{
  .side_bar{
    height: 60px;
    width: 100vh;
    background-image:  image-url(‘material/header.png’);
    background-size:  cover;
   }

  }



































}
